body{
    background:gainsboro; 
    font-family: 'Lobster', cursive; 
    background-image: url("../images/background.jpn.png")
}
.container{
    display: block;
    margin-left: .5%;
    width: 960px;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid black;
    background-image: url("../images/white-crystal.jpn.jpg")
}
.main-container {
    margin-right: 2%;
    margin-left: 2%;

}

h1{
    display: block;
    width: 300px; 
    padding: 2%;
    color: rgba(0, 128, 0, 0.836);
    text-shadow: 2px 2px white;
    font-family: 'Bowlby One SC', cursive;
    font-size: 60px;
}
.instructions{
    display: block;
    background: rgb(250, 250, 199);
    border: 1px solid lightgoldenrodyellow;
    width: 500px;
    margin-bottom: 1%;
    color: black;
    font-size: 18px;
    background-image: url("../images/stock-illustration.jpn.jpg");
}

#randomNumber{
    background:  lightgreen;
    display: block;
    width: 200px;
    padding: 2%; 
    margin-right: 1%;
    font-size: 44px;
    background-image: url("../images/crystalback.jpn.jpg");
    text-align: center;    
}

#win-loss{
    background: turquoise;
    display: block;
    padding: 3%;
    width: 110px;
    background-image: url("../images/crystalback.jpn.jpg");
}


#userTotal,
#score{
    display: grid;
    background: #4aaaa5;
    margin-bottom: 1%;
    width: 200px;
    color:black;
    font-size: 25px;
    background-image: url("../images/crystalback.jpn.jpg");
}

#score{
    padding: 2.5%;
    font-size: 44px;
    text-align: center;
    
}

#red,
#blue,
#yellow,
#green{
height: 100px;
margin: 1px;
width: 100px;
margin-top: 5px;
margin-bottom: 5px;

}
#win{
    float: left;
}

#wins{
    float: left;
    margin-left: 10px;
}
#lose{
    float: left;
}
#losses{
    float: left;
    margin-left: 10px;
}
